a:hover, a:visited, a:link, a:active {
    border-bottom: 1px dotted;
    border-radius: 0.1em;
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: gray;
    border-bottom: none;
    color: white;
}

body {
    background-color: gray;
    padding: 1%;
}

button {
    background-color: gray;
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0.1em;
    color: white;
    vertical-align: bottom;
}

caption {
    font-size: 125%;
    letter-spacing: 0.1em;
    text-align: left;
    color: gray;
    margin-bottom: 0.2em;
}

h1 {
    border-bottom: 1px solid;
    border-color: lightgray;
    font-size: 200%;
    letter-spacing: 0.2em;
    color: gray;
}

h2 {
    border-bottom: 1px dotted;
    border-color: lightgray;
    font-size: 175%;
    letter-spacing: 0.1em;
    color: gray;
}

h3 {
    border-bottom: 1px dotted;
    border-color: lightgray;
    font-size: 150%;
    letter-spacing: 0.1em;
    color: gray;
}

input {
    background-color: whitesmoke;
    border: 1px solid;
    border-color: gray;
    border-radius: 0.1em;    
}

label {
    color: gray;
    letter-spacing: 0.1em;
    vertical-align: bottom;
}

th {
    background-color: gray;
    color: white;
    padding-left: 0.2em;
    text-align: left;
}

#canvas {
    background-color: whitesmoke;
    border: none;
    border-radius: 0.1em;
    display: inline-block;
    font-family: verdana, sans-serif;
    height:95vh;
    margin-top: 1px;
    width: 49.5%;
    overflow: scroll;
}

#console {
    background-color: gray;
    border: none;
    color: white;
    font-family: monospace;
    height: 60%;
    resize: none;
    width: 100%;
}

#input {
    background: whitesmoke;
    border: none;
    border-radius: 0.1em;
    color: dimgray;
    font-family: monospace;
    font-size: 150%;
    height: 40%;
    margin-bottom: 1%;
    resize: none;
    width: 100%;
}

#repl {
    border: none;
    display: inline-block;
    height: 96vh;
    margin-right: 1%;
    vertical-align: top;
    width: 49%;
}
