body {
    background-color: gray;
    padding: 1%;
}

#canvas {
    background-color: whitesmoke;
    border: none;
    display: inline-block;
    height:96vh;
    overflow: scroll;
    width: 49.5%;
}

#input {
    background: whitesmoke;
    border: none;
    color: dimgray;
    font: monospace;
    font-size: 150%;
    height: 29%;
    margin-bottom: 1%;
    resize: none;
    width: 100%;
}

#output {
    background-color: gray;
    border: none;
    color: white;
    font: monospace;
    height: 70%;
    resize: none;
    width: 100%;
}

#repl {
    border: none;
    display: inline-block;
    height: 96vh;
    margin-right: 1%;
    vertical-align: top;
    width: 49%;
}
